In [22]:
from yahoofinancials import YahooFinancials

ticker = 'RCOM.BO'
yahoo_financials = YahooFinancials(ticker)

price = yahoo_financials.get_current_price()
daily_bank_stock_prices = yahoo_financials.get_historical_price_data('2021-05-20', '2021-05-21', 'daily')
mar = yahoo_financials.get_market_cap()
vol = yahoo_financials.get_current_volume()
week52 = yahoo_financials.get_yearly_high()
vol

# week52
# mar
# daily_bank_stock_prices
price
# balance_sheet_data_qt = yahoo_financials.get_financial_stmts('quarterly', 'balance')
# income_statement_data_qt = yahoo_financials.get_financial_stmts('quarterly', 'income')
# all_statement_data_qt =  yahoo_financials.get_financial_stmts('quarterly', ['income', 'cash', 'balance'])
# apple_earnings_data = yahoo_financials.get_stock_earnings_data()
# apple_net_income = yahoo_financials.get_net_income()
# historical_stock_prices = yahoo_financials.get_historical_price_data('2008-09-15', '2018-09-15', 'weekly')

3.24

In [24]:
import pandas_datareader as pdr
import datetime 
aapl = pdr.get_data_yahoo('RCOM.BO', 
                          start=datetime.datetime(2021, 5, 20), 
                          end=datetime.datetime(2021, 6, 8))
aapl

            High   Low  Open  Close    Volume  Adj Close
Date
2021-05-20  1.73  1.70  1.73   1.70   6079586       1.70
2021-05-21  1.76  1.70  1.72   1.75   5767296       1.75
2021-05-24  1.80  1.74  1.75   1.76  10156615       1.76
2021-05-25  1.83  1.75  1.76   1.76  15110379       1.76
2021-05-26  1.93  1.76  1.78   1.93  21958947       1.93
2021-05-27  2.12  2.01  2.04   2.12  15742658       2.12
2021-05-28  2.33  2.15  2.33   2.33  92672826       2.33
2021-05-31  2.44  2.29  2.38   2.44  40775836       2.44
2021-06-01  2.56  2.45  2.51   2.56  45262758       2.56
2021-06-02  2.68  2.57  2.58   2.68  29119425       2.68
2021-06-03  2.81  2.81  2.81   2.81   6279348       2.81
2021-06-04  2.95  2.81  2.95   2.95  47923446       2.95
2021-06-07  3.09  3.03  3.09   3.09  18218031       3.09
2021-06-08  3.24  3.12  3.24   3.24  41535374       3.24

In [25]:
import yfinance as yf

msft = yf.Ticker("FRETAIL.BO")
msft.info

{'previousClose': 53.25,
 'regularMarketOpen': 54,
 'twoHundredDayAverage': 86.79853,
 'trailingAnnualDividendYield': None,
 'payoutRatio': None,
 'volume24Hr': None,
 'regularMarketDayHigh': 54.4,
 'navPrice': None,
 'averageDailyVolume10Day': 563820,
 'totalAssets': None,
 'regularMarketPreviousClose': 53.25,
 'fiftyDayAverage': 77.30882,
 'trailingAnnualDividendRate': None,
 'open': 54,
 'toCurrency': None,
 'averageVolume10days': 563820,
 'expireDate': None,
 'yield': None,
 'algorithm': None,
 'dividendRate': None,
 'exDividendDate': None,
 'beta': None,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 51.5,
 'priceHint': 2,
 'currency': 'INR',
 'regularMarketVolume': 499612,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 28361453568,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 687089,
 'priceToSalesTrailing12Months': None,
 'dayLow': 51.5,
 'ask': 52.25,
 'ytdReturn': None,
 'askSize': 0,
 'volume': 499612,
 'fiftyTwoWeekHigh': 377.4,
 'forwardPE': None,
 'maxAge': 1,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': None,
 'fiftyTwoWeekLow': 51.5,
 'bid': 52.2,
 'tradeable': False,
 'dividendYield': None,
 'bidSize': 0,
 'dayHigh': 54.4,
 'exchange': 'BSE',
 'shortName': 'Future Retail Ltd.',
 'longName': 'Future Retail Limited',
 'exchangeTimezoneName': 'Asia/Kolkata',
 'exchangeTimezoneShortName': 'IST',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '19800000',
 'quoteType': 'EQUITY',
 'symbol': 'FRETAIL.BO',
 'market': 'in_market',
 'regularMarketPrice': 52.3,
 'logo_url': ''}

In [28]:
# valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
# valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
hist = msft.history(period="1mo", interval ="5d")
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-05-18,45.450001,45.549999,44.750000,45.099998,150163,0,0
2021-05-28,45.549999,45.750000,45.200001,45.450001,163237,0,0
2021-06-02,47.750000,50.099998,47.000000,50.000000,1426425,0,0
2021-06-07,55.299999,57.900002,52.150002,53.250000,642144,0,0
2021-06-08,54.000000,54.400002,51.500000,52.299999,527766,0,0