In [32]:
from yahoofinancials import YahooFinancials

ticker = 'RCOM.BO'
yahoo_financials = YahooFinancials(ticker)

price = yahoo_financials.get_current_price()
daily_bank_stock_prices = yahoo_financials.get_historical_price_data('2021-05-20', '2021-05-21', 'daily')
mar = yahoo_financials.get_net_income()
mar
# daily_bank_stock_prices
# balance_sheet_data_qt = yahoo_financials.get_financial_stmts('quarterly', 'balance')
# income_statement_data_qt = yahoo_financials.get_financial_stmts('quarterly', 'income')
# all_statement_data_qt =  yahoo_financials.get_financial_stmts('quarterly', ['income', 'cash', 'balance'])
# apple_earnings_data = yahoo_financials.get_stock_earnings_data()
# apple_net_income = yahoo_financials.get_net_income()
# historical_stock_prices = yahoo_financials.get_historical_price_data('2008-09-15', '2018-09-15', 'weekly')

-426710000000

In [30]:
import pandas_datareader as pdr
import datetime 
aapl = pdr.get_data_yahoo('RCOM.BO', 
                          start=datetime.datetime(2021, 5, 20), 
                          end=datetime.datetime(2021, 6, 1))
aapl

            High   Low  Open  Close    Volume  Adj Close
Date
2021-05-20  1.73  1.70  1.73   1.70   6079586       1.70
2021-05-21  1.76  1.70  1.72   1.75   5767296       1.75
2021-05-24  1.80  1.74  1.75   1.76  10156615       1.76
2021-05-25  1.83  1.75  1.76   1.76  15110379       1.76
2021-05-26  1.93  1.76  1.78   1.93  21958947       1.93
2021-05-27  2.12  2.01  2.04   2.12  15742658       2.12
2021-05-28  2.33  2.15  2.33   2.33  92672826       2.33
2021-05-31  2.44  2.29  2.38   2.44  40775836       2.44
2021-06-01  2.56  2.45  2.51   2.56  45262758       2.56